{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ]
  },
  "plugins": [
    "eslint-plugin-flowtype"
  ],
  "extends": [
    "plugin:flowtype/recommended"
  ]
}
